/* 輪播圖 */
.images {
    width: 80%;
    margin: 0px auto;
}

/* 關於 */
.about {
    text-align: center;
    padding: 180px;
}

.about p {
    line-height: 80px;
    text-align: center;
    padding: 10px;
    margin: auto;
}

/* 影片 */

.VIDEO h2 {
    padding-top: 60px;
    padding-bottom: 30px;
}

/* FB */
.news{
    position: relative;
    z-index: 5;
}
.news h2 {
    padding-top: 0px;
    padding-bottom: 30px;
}

.news h3 {
    padding-top: 30px;
    padding-bottom: 30px;
}
.news a{
    text-decoration:none;
}

/* 石龜景點 */
.all_turtle {
    position: relative;
    top: -250px;
    z-index: 1;
}

.turtle {
    position: absolute;
    top: 450px;
    right: -10%;
    width: 60%;
    position: relative;
    height: 500px;
    background-color: #FFB42D;
    transform: translate(50%, 0%);
}

.turtle h3 {
    position: absolute;
    top: 10%;
    left: 17%;
    transform: translate(-50%, -50%);
    color: white;
}

.turtle_infor {
    text-align: center;
}

.turtle_infor h1 {
    padding: 30px;
    color: white;
}

.turtle_infor {
    width: 100% !important;
}

.turtle_img {
    z-index: 1;
    text-align: center;
}

.turtle_img img {
    width: 97%;
    display: block;
}

/* 斗南景點 */
.Dounan_background {
    background-color: #00000010;
    padding-top: 50px;
}

.Dounan {
    text-align: center;
    width: 50%;

    margin: 0px auto;
}


.title {
    margin: 5%;
    position: relative;
}

.title img {
    width: 100%;
    height: 100%;
}

.title div {
    position: absolute;
    width: 100%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title p {
    color: white;
    font-size: 1.8em;
}


/* container */
@media (max-width:821px) {
    .about {
        padding: 0px;
    }

    .turtle {
        display: none;
    }

    .turtle_infor {
        background-color: #FFB42D;
    }

    .images {
        width: 100%;
        margin: 0px auto;
    }

    .Dounan {
        width: 100%;
    }

    .title p {
        color: white;
        font-size: 1.5em;
    }

    .all_turtle {
        background-color: #FFB42D;
        top: 0px;
    }

    .Dounan h3 {
        padding-bottom: 50px;
    }
    .header_border {
        width: 0px;
        height: 0px;
    }

    .about p {
        line-height: 60px;
    }

    .ratio {
        margin-bottom: 10px;
    }

    .turtle {
        width: 100%;
        transform: translate(0%, 0%);
    }

    .turtle h3 {
        position: static;
        text-align: center;
        transform: translate(50%, 50%);
        top: auto;
        left: auto;
    }

    .turtle_img {
        padding: 0px;
        margin: 0px;
    }

    .title {
        margin: 0px;
    }

    .title div {
        top: 60%;
        left: 50%;
    }

    .body {
        width: 100%;
    }
}

@media (max-width:500px) {
    .title p {
        color: white;
        font-size: 1em;
    }
}


