/*標題*/
.title {

    position: relative;
    -webkit-text-stroke: 2px #2D82B7;
}

.title img {
    width: 100%;
    height: auto;
}

.title .school {
    opacity: 1;
}

.title div {
    position: absolute;
    top: 10%;
    left: 13%;
    transform: translate(0%, 0%);
}

.title h1 {
    font-size: 70px;
    font-weight: bold;
}

.title p {
    font-size: 40px;
    font-weight: bold;
}

.light {
    color: rgb(255, 255, 255);
    text-shadow: black 0.5em 0.5em 0.5em
}

/*介紹*/
.introduce {
    margin: 0px auto;
    width: 45%;
    background-color: #FFB42D;
    position: relative;
    top: -150px;
    border-radius: 25px;
}

.introduce .img {
    width: 40%;
}

.introduce .img img {
    width: 100%;
    margin: 20px;
    border-radius: 10px;
    border: 1px solid white;
}

.introduce .text {
    width: 59%;
    padding: 50px;
}

.introduce .text p {
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
}

/*歷史*/
.histroy {
    text-align: center;
    margin-bottom: 200px;
    padding-top: 100px;
}

.histroy h1 {
    display: inline-block;
    color: white;
    background-color: black;
    padding: 10px 60px 10px 60px;
}

.histroy p {
    font-size: 30px;
    font-weight: 700;
    margin: 50px;
}

/* 製作 */
.make_ta {
    width: 70%;
    text-align: left;
    float: right;
    background-color: #FFB42D;
}

.make_ta h1 {
    margin: 30px;
    color: white;
}

.make_ta {
    clear: right;
}

.make {
    background-color: #00000020;
    margin-top: 100px;
    padding-top: 30px;
    padding-bottom: 400px;
}

.make i {
    text-align: center;
    color: #2D82B7;
    font-size: 20px;
}


.make h1 {
    color: white;
    text-align: center;
}

.what {
    width: 250px;
    background-color: #2D82B7;
    border-radius: 20px;
    margin: 0px auto;
    padding: 30px 30px 30px 30px;
}

.to_do {
    padding: 50px;
    color: #2D82B7;
    font-size: 25px;
}

.down {
    text-align: center;
}

.down i {
    font-size: 30px;
}


.pic_right {
    text-align: right;
}

.pic_left {
    text-align: left;
}


/*地圖*/

.map_text .h1 {
    margin: 100px;
    text-align: left;
}

.map_text h1 {
    font-size: 30px;
}

.map_text i {
    font-size: 40px;
}

.map {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;
    margin: auto;
    height: auto;
}

.map p {
    display: inline-block;
    background-color: black;
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
}

.form {
    width: 60%;
    margin: auto;
    height: auto;
    padding: 10px;
}

.form p {
    letter-spacing: 2px;
    font-size: 1em;
}

@media (max-width: 1300px) {
    .introduce {
        margin: 20px auto;
        width: 80%;
        top: 0px;
        border-radius: 25px;
    }

    .introduce .text {
        width: 60%;
    }

    .introduce .text p {
        font-size: 20px;
        font-weight: 700;
        line-height: 40px;
    }
}

@media (min-width:821px) {
    .phone_make {
        display: none;
    }
}

@media (max-width: 992px) {
    .pic_right,
    .pic_left {
        text-align: center;
    }
}


@media (max-width: 821px) {
    .title {
        position: relative;
        -webkit-text-stroke: 0.5px #2D82B7;
    }

    .introduce {
        margin: 20px auto;
        width: 90%;
        top: 0px;
        border-radius: 25px;
    }

    .introduce .img {
        width: 90%;
    }


    .introduce .text {
        width: 100%;
    }


    .feature .img {
        width: 100%;
        margin: 0px auto;
        position: relative;
        top: -150px;
    }

    .feature .img div {
        width: 33%;
        padding: 0px;
    }


    .title h1 {
        font-size: 30px;
    }

    .text,
    .image,
    .map,
    .form {
        width: 100%;
    }

    .title p {
        font-size: 10px;
    }

    .text p {
        font-size: 1em;
    }

    .image img {
        width: 350px;
    }

    .form p {
        font-size: 0.75em;
    }

    .title .temple {
        position: absolute;
        top: 10%;
        left: 13%;
        transform: translate(0%, 0%);
    }

    .map_text .h1 {
        margin: 20px;
        text-align: left;
    }

    .make table {
        display: none;
    }
    .histroy p {
        font-size: 20px;
        margin: 50px;
    }

}